
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.css">
  
</head>
<body>

<div class="container">
    <h1>Baby's First Bootstrap</h1>
    
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Colored squares.... Truly incredible.</p>
    </div>
    <div class="col-sm-8">
      <h3>Column 2</h3>
      <p><img src="/images/ask8.png"> <img src="/images/ask5.png"> <img src="/images/ask6.png"> <img src="/images/ask7.png"></p>
    </div>
  </div>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

</body>
</html>